<link rel="stylesheet" href="/styles/adminBookings.css">
<div class="sidebar">
    <h2>Welcome, {{username}}</h2>
    <h4>Admin Panel</h4>
    <a href="/admin/dashboard">Dashboard</a>
    <a href="/admin/addSlot">Add Slot</a>
    <a href="/admin/booking">Bookings</a>
    <a href="/admin/users">Manage Users</a>
    <a href="/admin/logout">Logout</a>
</div>

<h2>Bookings List</h2>

<table>
    <thead>
        <tr>
            <th>User</th>
            <th>Location</th>
            <th>Booking Time</th>
            <th>Duration</th>
        </tr>
    </thead>
    <tbody>
        {{#each bookings}}
        <tr>
            <td>{{this.username}}</td>
            <td>{{this.location}}</td>
            <td>{{this.bookingTime}}</td>
            <td>{{this.duration}}</td>
        </tr>
        {{else}}
        <tr>
            <td colspan="4">No bookings found.</td>
        </tr>
        
        {{/each}}
    </tbody>
</table>

